{% extends 'base.html' %}

{% include 'nav_postlog.html' %}

{% block body %}

    <h1>HOME</h1>
    <div class="container">
        <table class="table table-stripped table-dark">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
              </tr>
            </thead>
            <tbody>
            {% for key, value in portfolio.items() %}
              <tr>
                <th scope="row">{{ key }}</th>
                <td>{{ value['name'] }}</td>
                <td>{{ value['shares_sum'] }}</td>
                <td>${{ value['price'] }}</td>
                <td>${{ value['total_price'] }}</td>
              </tr>
            {% endfor %}
              <tr>
                <th scope="row">CASH</th>
                <td></td>
                <td></td>
                <td></td>
                <td>${{ current_user.cash_cent/100 }}</td>
              </tr>
            </tbody>
          </table>
      </div>
{% endblock %}