{% extends 'base.html' %}

{% include 'nav_postlog.html' %}

{% block body %}

    <div class="container">
        <h1>Sell stock here!</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.symbol.label }}
                {{ form.symbol(class = "form-control") }}
                <!-- see if none default is possible -->
            </div>
            <div class="form-group">
                {{ form.shares.label }}
                {{ form.shares(class = "form-control", placeholder = "Pick a number of shares.") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}